.entrada{

	margin-top: 5%;
    height: 100%;
    min-height: 100%;
    /* habilita o flex nos filhos diretos */
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    /* centraliza na vertical */
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    /* centraliza na horizontal */
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.out{

	margin-left: 2%;
}
